.Main{
    display: flex;
    flex-direction: column;
}

.Main input{
    background: white;
    border-radius: 15px;
    border: 1px solid black;
    width: 155px;
    height: 30px;
    outline: none;
    padding: 3px;
    border: 0;
}

.Main .login{
    border: 1px solid gray;
}

.Main button{
    background: green;
    border-radius: 15px;
    border: 0;
    margin: 5px;
    width: 70px;
    height: 30px;
    align-self: center;
    cursor: pointer;
    color: #000;
}

.Main button:hover{
    background: rgb(1, 100, 37);
    color: white;
}