.Admin{
    display: flex;
    flex-direction: column;
}

.Admin .container{
    display: flex;
    flex-direction: row;
    background: #fff;
    width: 1000px;
    height: 240px;
    border-radius: 18px;
    border: 1px solid gray;
    margin: 10px;
}

.Admin .container .img-employe img{
    display: flex;
    justify-self: start;
    height: 200px;
    padding: 15px;
}

.Admin .container .name{
    padding: 15px;
}

.Admin .container .name span{
    font-weight: 700;
    font-size: 24px;
}

.Admin .container .name p{
    font-weight: 400;
    font-size: 18px;
}

.buttons{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 50px;
    gap: 5px;
    cursor: pointer;
    align-self: center;
}

.buttons .delete{
    background: red;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    color: white;
}

.buttons .upd{
    background: yellow;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}

.buttons .add{
    background: green;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    color: white;
}